@import "../../sass/helper";

.basketBody {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 65px;
	background-color: #fff;
	max-width: 500px;
	width: 100%;
	min-height: 100px;
	z-index: 1000;
	padding: 20px 50px;

	@include tablet {
		position: absolute;
	}
}

.basketImgList {
	display: flex;
	gap: 20px;
	padding-left: 10px;
}

.basketList {
	color: $--main-color;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.basketItem {
	border-bottom: 1px solid rgb(212, 212, 212);
	display: flex;
	gap: 20px;
	padding: 0 10px;
}

.percent {
	color: tomato;
	font-size: 12px;
	align-self: flex-end;
}

.price {
	margin-left: auto;
}

.closeBasket {
	position: absolute;
	top: 20px;
	right: 20px;
	transition: transform 400ms ease;

	&:hover {
		transform: rotateZ(90deg);
	}
}

.checkoutBtn {
	background-color: $--accent-color;
	border-radius: 40px;
	padding: 10px 20px;
	text-transform: uppercase;
	outline: 1px solid $--accent-color;
	transition: all 300ms ease;
	float: right;

	&:hover {
		background-color: #fff;
		color: $--accent-color;
	}
}
