@import "../../sass/helper";

.header {
	max-height: 146px;
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

.headerTop {
	height: 64px;
	background-color: $--header-top-bg;
}

.headerTopInner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.toggleBtn {
	position: relative;
	z-index: 10;

	@include tablet {
		display: none;
	}
}

.headerNavigation {
	@include tablet {
		background-color: $--navigation-bg;
		position: absolute;
		z-index: 101;
		left: 0;
		width: 100%;
	}
}
