@import "../../sass/helper";

.orderInfoWrapper {
	color: #fff;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	gap: 10px;
}

.orderCount {
	position: relative;
	& > span {
		font-size: 10px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -5px;
		right: -5px;
		width: 17px;
		height: 17px;
		background-color: $--accent-color;
	}
}

.showBasket {
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
